body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  --primary-text: #2799fa;
  --bg: #f1f8fe;
  --footer-bg: #2799fa;
  --footer-text: white;

  color: var(--primary-text);
}

.grow {
  flex: 1 1 0;
}

.root {
  display: flex;
  margin: 0.2em;
}

.main {
  display: flex;
  flex-direction: column;
}

#table-chart {
  --text: black;
  --th-text: var(--primary-text);
  --th-bg: var(--bg);
  --selection-bg: var(--bg);
  --selection-text: var(--primary-text);
}

.aside {
  width: 20em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  padding: 3em 1em 1em 1em;
  background: var(--bg);
}

.aside-header {
  text-align: center;
}

.aside-button {
  border: none;
  background: var(--footer-bg);
  color: var(--footer-text);
  font-size: 0.8rem;
  padding: 1em;
  margin: 1em;
  text-transform: uppercase;
}

.aside-button:not([disabled]):hover {
  box-shadow: 0 0 2px 2px var(--primary);
}
.aside-button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

footer {
  display: flex;
  padding: 2em 1em;
  background: var(--footer-bg);
  color: var(--footer-text);
  display: flex;
  align-items: center;
}

.footer-contact {
  align-self: flex-start;
  text-transform: uppercase;
}

.footer-a,
.footer-a:visited,
.footer-a:hover,
.footer-a:focus {
  padding-left: 1em;
  display: block;
  text-decoration: none;
  color: var(--footer-text);
}

.footer-copyright {
  text-align: right;
}
