body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  --primary: rgb(70, 130, 180);
  --primary-bg: rgba(70, 130, 180, 0.4);
  --primary-text: white;
}

.grow {
  flex: 1 1 0;
}

.root {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.aside {
  width: 20em;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  padding: 3em 1em 1em 1em;
  background: var(--primary-bg);
}

.aside-header {
  text-align: center;
}

.aside-button {
  border: none;
  background: var(--primary);
  color: var(--primary-text);
  font-size: 0.8rem;
  padding: 0.5em 1em;
  margin: 0.25em;
  text-transform: uppercase;
}

.aside-button:hover {
  box-shadow: 0 0 2px 2px var(--primary);
}

footer {
  display: flex;
  padding: 1em;
  background: var(--primary);
  color: var(--primary-text);
  display: flex;
}

.footer-a,
.footer-a:visited,
.footer-a:hover,
.footer-a:focus {
  text-decoration: none;
  color: --primary-text;
}

.footer-copyright {
  text-align: right;
}
