body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

  --primary-text: #2799fa;
  --bg: #f1f8fe;
  --footer-bg: #2799fa;
  --footer-text: white;

  color: var(--primary-text);
}

.wrapper {
  flex: 1 1 0;
  display: flex;
}

.main {
  flex: 8 8 0;
  display: flex;
  flex-direction: column;
}

.aside {
  flex: 1 1 20em;
  min-width: 15em;
  background: var(--bg);
  display: flex;
  flex-direction: column;
}

.main-header {
  padding: 1em;
}

.main-chart {
  flex: 1 1 0;

  --text: black;
  --th-text: var(--primary-text);
  --th-bg: var(--bg);
  --selection-bg: var(--bg);
  --selection-text: var(--primary-text);
}

.aside-header {
  margin: 4em 1em 1em 1em;
  text-align: center;
}

.aside-chart {
  flex: 1 1 0;
  margin: 1em;
}

.aside-button {
  margin: 1em;
  border: none;
  background: var(--footer-bg);
  color: var(--footer-text);
  font-size: 0.8rem;
  padding: 1em;
  text-transform: uppercase;
}

.aside-button:not([disabled]):hover {
  box-shadow: 0 0 2px 2px var(--primary);
}

.aside-button[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

footer {
  grid-area: footer;
  display: flex;
  padding: 2em 1em;
  background: var(--footer-bg);
  color: var(--footer-text);
  display: flex;
  align-items: center;
}

.footer-contact {
  align-self: flex-start;
  text-transform: uppercase;
}

.footer-a,
.footer-a:visited,
.footer-a:hover,
.footer-a:focus {
  padding-left: 1em;
  display: block;
  text-decoration: none;
  color: var(--footer-text);
}

.footer-copyright {
  text-align: right;
  flex: 1 1 0;
}

@media (max-width: 961px) {
  .wrapper {
    display: block;
  }
  .main-chart {
    flex: unset;
    --wrapper-position: 'relative';
  }
  .aside {
    display: grid;
    grid-template-areas:
      'header chart'
      'button chart';
    grid-template-rows: 0.8fr fit-content(3em);
    grid-template-columns: 0.3fr 0.7fr;
  }
  .aside-header {
    grid-area: header;
  }
  .aside-button {
    grid-area: button;
  }
  .aside-chart {
    grid-area: chart;
  }
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 200%;
}

.loading-error {
  color: darkred;
}

.loading::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.9);
}
